.logo {
  margin-left: 30px;
  line-height: 80px;
  color: white;
  font-size: 35px;
  text-shadow: 4px 2px #5f7ea0;
  font-weight: bold;
  float: left;
}

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

#menu {
  margin-right: 30px;
  line-height: 80px;
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

header ul li {
  display: inline-block;
}

li a {
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
  margin-left: 15px;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 7px 13px;
}

.przyci:hover {
  background-color: brown;
  transition: 0.5s;
}

#checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(zdjecia/pattern.png);
  background-size: cover;
  background-repeat: repeat;
  color: #333;
}

h1 {
  text-align: center;
}

.formdodajdiv {
  background-color: white;
  margin: 100px;
  box-shadow: rgba(0, 0, 0, 0.4) -8px 6px 7px;
  border-radius: 10px;
  z-index:1;
}

.inpulabel {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  border-bottom: 1px rgb(196, 196, 196) solid;
}

#dodajgre,
#wylogowanie {
  background-color: #00796b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 60%;
  box-sizing: border-box;
}

.error {
  font-size: 30px;
  color: red;
}

form {
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

label {
  font-weight: bold;
}

#form-wyloguj {
  width: 30%;
  margin: 10px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: #999999 -6px 6px 7px;
}

footer {
  height: 80px;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #3f423f;
}

@media (max-width: 1152px) {
  .logo {
    font-size: 30px;
    padding-left: 40px;
  }

  header ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1050px) {
  main {
    max-height: fit-content;
  }
  #checkbtn {
    display: block;
  }

  header{
    z-index: 10000;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    

  }
  header ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    
  }
  header ul li a {
    font-size: 20px;
    
  }
  a:hover {
    background: none;
    color: rgb(124, 157, 82);
  }

  #check:checked ~ ul {
    left: 0;
  }

  input {
    width: 90%;
  }

  .formdodajdiv {
    transform: scale(0.9);
    margin: 30px;
  }

  #form-wyloguj {
    width: 60%;
  }
}

@media (max-width: 840px) {
    .formdodajdiv {
        transform: scale(0.8);
        margin: 10px;
      }


}

